include pygram11/*.hpp
include tests/*.py
include tests/data/*.npz
include LICENSE
include requirements.txt

graft extern/pybind11/include

global-exclude .git*
global-exclude .pytest_cache
global-exclude .DS_Store
global-exclude *.py[co]
global-exclude __pycache__

recursive-include extern LICENSE
