[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "setuptools_scm[toml]>=3.4"
]

build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
norecursedirs = ["extern"]
markers = [
    "misci: Miscellaneous",
    "OD: One dimensional histograms",
    "TD: Two dimensional histograms",
]

[tool.setuptools_scm]
write_to = "src/pygram11/version.py"
