name: Build

on:
  workflow_dispatch:
  release:
    types:
    - published

jobs:
  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-11, windows-2019]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Install OpenMP on macOS
      if: startsWith(matrix.os, 'macOS')
      run: |
        brew install libomp

    - name: Build wheels
      uses: pypa/cibuildwheel@v2.9.0

    - name: Show files
      run: ls -lh wheelhouse
      shell: bash

    - uses: actions/upload-artifact@v3
      with:
        path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - uses: actions/setup-python@v2
      name: Install Python

    - name: Build sdist
      run: |
        python -m pip install build
        python -m build -s

    - uses: actions/upload-artifact@v2
      with:
        path: dist/*.tar.gz
