name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test_pygram11:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11-dev"]
    runs-on: ${{matrix.platform}}
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: setup Python ${{matrix.python-version}}
      uses: actions/setup-python@v2
      with:
        python-version: ${{matrix.python-version}}
    - name: install libomp on macOS
      if: startsWith(matrix.platform, 'macOS')
      run: |
        brew install libomp
    - name: install
      run: |
        python -m pip install build
        python -m build
        pip install dist/*.whl pytest
        pip list
    - name: test
      run: |
        python -m pytest --ignore=extern
