name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test_pygram11:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11"]
    runs-on: ${{matrix.platform}}
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: setup Python ${{matrix.python-version}}
      uses: actions/setup-python@v4
      with:
        python-version: ${{matrix.python-version}}
    # - name: install libomp on macOS
    #   shell: bash
    #   if: runner.os == 'macOS'
    #   run: |
    #     HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=1 brew reinstall --build-from-source --formula ./.github/workflows/libomp.rb
    - name: install
      shell: bash
      run: |
        python -m pip install pip wheel -U
        python -m pip install build
        python -m pip install pytest
        python -m build
        python -m pip install dist/*.whl
        python -m pip list
    - name: test
      run: |
        python -m pytest --ignore=extern
